@{
    Layout = null;
    List<MODEL.T_DIC_User> lst = ViewBag.lst;
}

<form id="pagerForm" method="post" action="/DIC/User/List">
    <input type="hidden" name="pageNum" value="@ViewBag.pageindex" />
    <input type="hidden" name="numPerPage" value="@ViewBag.pagesize" />
    <input type="hidden" name="orderField" value="${param.orderField}" />
    <input type="hidden" name="orderDirection" value="${param.orderDirection}" />
</form>
<div class="pageHeader">
    <form rel="pagerForm" onsubmit="return navTabSearch(this);" action="/DIC/User/ListBySearch" method="post">
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label>我的图书：</label>
                    <input type="text" name="keywords" />
                </li>
                <li>
                    <select class="combox" name="province">
						<option value="">所有类别</option>
						<option value="人文">人文</option>
						<option value="艺术">艺术</option>
						<option value="经济">经济</option>
						<option value="建筑">建筑</option>
						<option value="音乐">音乐</option>
                    </select>
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <div class="buttonActive">
                            <div class="buttonContent">
                                <button type="submit">检索</button>
                            </div>
                        </div>
                    </li>
                    <li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="/Dic/User/AddUser" target="dialog"><span>添加</span></a></li>
            <li><a class="delete" href="/Dic/User/Delete?uid={sid_user}" target="ajaxTodo" title="确定要删除吗？" warn="请选择一个用户"><span>删除</span></a></li>
            <li><a class="edit" href="/Dic/User/EditUser?uid={sid_user}" target="dialog" warn="请选择一本图书"><span>修改</span></a></li>
            <li class="line">line</li>
            <li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targettype="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>
            <li><a class="icon" href="javascript:$.printBox('w_list_print')"><span>打印</span></a></li>
        </ul>
    </div>

    <div id="w_list_print">
        <table class="list" width="98%" targettype="navTab" asc="asc" desc="desc" layouth="116">
		<thead style="text-align: center;">
			<tr>
                <th width="100" orderField="name">编号</th>
				<th width="150" orderField="name">登陆名称</th>
				<th width="150" orderField="num" >电话</th>
				<th>最后登录时间</th>
				<th width="150">登陆次数统计</th>
				<th width="150">用户当前状态</th>
			</tr>
		</thead>
		<tbody style="text-align: center;">
            @foreach (var item in lst)
            { 
                <tr target="sid_user" rel="@item.ID">
                    <th>@item.ID</th>
				    <td>@item.LoginName</td>
				    <td>@item.Phone</td>
				    <td>@item.LastLoginTime</td>
				    <td>@item.VisitCount</td>
                    @if (@item.Status == 1)
                    { 
                        <td>正常</td>
                    }
                    else if (@item.Status == 2)
                    { 
                        <td>冻结</td>
                    } 
                    else
                    {
                        <td>删除</td>
                    }	    
			    </tr>
            }

        </table>
    </div>

    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                @if(ViewBag.pagesize==5)
                {
                    <option value="5" selected>5</option>
                }else{
                <option value="5">5</option>
                }
                @if(ViewBag.pagesize==10)
                {
                    <option value="10" selected>10</option>
                }else{
                <option value="10">10</option>
                }
                @if(ViewBag.pagesize==20)
                {
                    <option value="20" selected>20</option>
                }else{
                <option value="20">20</option>
                }
            </select>
            <span>条，共 @ViewBag.totalcount 条</span>
        </div>

        <div class="pagination" targettype="navTab" totalcount="@ViewBag.totalcount" numperpage="@ViewBag.pagesize" pagenumshown="10" currentpage="@ViewBag.pageindex"></div>

    </div>

</div>


