@{
    Layout = null;
    Model.T_DIC_Supplier supplier= ViewBag.lst;
}

<div class="pageContent">
	<form method="post" action="/DIC/Supplier/EditSupplierSave" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone)">
		<div class="pageFormContent" layoutH="56">
			<p>
				<label>编码：</label>
                <input name="ID" type="hidden" size="30" value="@supplier.ID"  alt="携带ID"/>
				<input name="Coding" type="text" size="30" value="@supplier.Coding" class="required"  alt="请修改编码"/>
			</p>
			<p>
				<label>供应商：</label>
				<input name="NameEntity" class="required" type="text" size="30" value="@supplier.NameEntity" alt="请修改供应商"/>
			</p>
            <p>
				<label>供应商地址：</label>
				<input name="AddressEntity" class="required" type="text" size="30" value="@supplier.AddressEntity" alt="请修改地址"/>
			</p>
            <p>
				<label>联系人：</label>
				<input name="Contact" @*class="required"*@ type="text" size="30" value="@supplier.Contact" alt="请修改联系人"/>
			</p>
            <p>
				<label>联系电话：</label>
				<input name="Phone" @*class="required"*@ type="text" size="30" value="@supplier.Phone" alt="请修改联系电话"/>
			</p>
            
			
		</div>
		<div class="formBar">
			<ul>
				<!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>

