@{
    Layout = null;
    List<Book.Model.V_Stock_Book> lst = ViewBag.lst;
    }

<form id="pagerForm" method="post" action="/stock/in/report">
	<input type="hidden" name="status" value="${param.status}">
	<input type="hidden" name="keywords" value="${param.keywords}" />
	<input type="hidden" name="pageNum" value="@ViewBag.PageIndex" />
	<input type="hidden" name="numPerPage" value="@ViewBag.PageSize" />
	<input type="hidden" name="orderField" value="${param.orderField}" />
</form>


<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="/Stock/In/Report" method="post">
	<div class="searchBar">
		<!--<ul class="searchContent">
			<li>
				<label>我的客户：</label>
				<input type="text"/>
			</li>
			<li>
			<select class="combox" name="province">
				<option value="">所有省市</option>
				<option value="北京">北京</option>
				<option value="上海">上海</option>
				<option value="天津">天津</option>
				<option value="重庆">重庆</option>
				<option value="广东">广东</option>
			</select>
			</li>
		</ul>
		-->
		<table class="searchContent">
			<tr>
				<td>
					库存信息：<input type="text" name="keyword" />
				</td>
				@*<td>
					<select class="combox" name="province">
						<option value="">所有省市</option>
						<option value="北京">北京</option>
						<option value="上海">上海</option>
						<option value="天津">天津</option>
						<option value="重庆">重庆</option>
						<option value="广东">广东</option>
					</select>
				</td>*@
@*				<td>
					建档日期：<input type="text" class="date" readonly="true" />
				</td>*@
			</tr>
		</table>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
@*				<li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li>*@
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="/stock/in/add" target="navTab" rel="useradd"><span>添加</span></a></li>
			@*<li><a class="delete" href="/dic/user/delete?uid={sid_user}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>*@
            @*<li><a title="确实要删除这些记录吗?" target="selectedTodo" rel="ids" postType="string" href="/stock/in/delete" class="delete"><span>批量删除逗号分隔</span></a></li>*@
			@*<li><a class="edit" href="/stock/in/edit?uid={sid_user}" target="navTab"><span>修改</span></a></li>*@
			<li class="line">line</li>
			<li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targetType="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="138">
		<thead>
			<tr>
                <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				<th width="80">条目编号</th>
				<th >书籍编号</th>
				<th>书籍名称</th>
                <th>书籍库存</th>
				 
			</tr>
		</thead>
		<tbody>
              @foreach (var item in lst)
        {
            <tr target="sid_user" rel="@item.ID">

                <td><input name="ids" value="@item.ID" type="checkbox"></td>
				<td>@item.ID</td>		 
                <td>@item.BookID</td>
				<td>@item.Name</td>
                <td>@item.Num</td>	
                		
			</tr>
        }
			
			
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                @if(ViewBag.PageSize==5)
                {
				<option value="5" selected>5</option>
                }else
                {<option value="5">5</option>
                }
                 @if(ViewBag.PageSize==10)
                {
				<option value="10" selected>10</option>
                }else
                {<option value="10">10</option>
                }
                 @if(ViewBag.PageSize==20)
                {
				<option value="20" selected>20</option>
                }else
                {<option value="20">20</option>
                }
				 
			</select>
			<span>条，共 @ViewBag.TotalCount 条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="@ViewBag.TotalCount" numPerPage="@ViewBag.PageSize" pageNumShown="10" currentPage="@ViewBag.PageIndex"></div>

	</div>
</div>

 
